<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>About Highway - Free CSS Template</title>
<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/light-box.css">
        <link rel="stylesheet" href="css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="index.html">Ad<em>min</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>Welcome <em>Admin</em></h1>
            </div>
        </div>
    </div>


    <div class="services">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">

                    <div class="text">
                        <h4>Add Categories</h4>
                        <form action="/addCategory" method="post" enctype="multipart/form-data">
                            <p>Category Name</p>
                            <input type="text" name="name" placeholder="Please input name"> <br>
                            <p>Image</p>
                            <input type="file" name="image"> <br><br>
                            <input type="submit" value="Add Category">
                        </form>


                        <ul>
                            <div th:each="image: ${allImages}" th:remove="tag">
                                <img th:src="@{/image(name=${image.picUrl})}" width="100"
                                     th:if="${image.picUrl != null && image.picUrl.length() != 0}">

                            </div>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="text">
                        <h4>Add Images</h4>
                        <form action="/addImage" method="post" enctype="multipart/form-data">
                            <p>Image Name</p>
                            <input type="text" name="name" placeholder="Please input name"> <br>
                            <p>Category</p>
                            <select name="category.id">
                                <option disabled selected value>Choose image category</option>
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select> <br>
                            <p>Date</p>
                            <input type="date" id="upload_date" name="upload_date"> <br>
                            <p>Image</p>
                            <input type="file" name="image"> <br><br>
                            <input type="submit" value="Add Image">
                        </form><br><br>


                    </div>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="service-item">-->
<!--                    <div class="icon">-->
<!--                        <img src="img/service_3.png" alt="">-->
<!--                    </div>-->

            </div>
            <div class="col-md-4 col-sm-6">

            </div>

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="/"> Home</a>
                  </li>
                  <li>
                      <a href="admin"> Admin</a>
                  </li>

              </ul>
              <p>We create awesome templates for you</p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>